header{ 
    display: flex;
     position: fixed;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 3;
    background-color: rgb(241, 109, 20);
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3ea;
     height: 200vh;
     flex-wrap: wrap;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

a{
    text-decoration: none;
    background-color: rgb(241, 109, 20);
    color: white;
    font-size: 20px;
    border-radius: 10px;
   margin-right: 12px;

}

a:hover{
    background-color: rgba(253, 162, 26, 0.712);
    border: 2px solid;
    transition: all 0.4s;
    color: white;

}

h1{
   font-size: 28px;
    color: #ffffff;
}

h2{
    text-align: center;
}

p{
    text-align: center;
    color: #ce3700;
}
.foto{
    border-radius: 50%;
    height: 40vh;
    margin-top: 100px;
}

.foto2{
    height: 360px;
    margin: 4px;
    
}

article {
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.imagen1{
    width: 100%;
    flex-basis: 250px;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    margin: 5px;
}

.imagen1::before{
    content: attr(data-content);
    color: white;
    font-size: 2rem;
    width: 100%;
    position: absolute;
      text-align: center;
    bottom: 32px;
    opacity: 0;
    transition: opacity 2s;
    z-index: 1;
}

.imagen1:hover::before {
    opacity: 1;
}

.imagen1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form{
    display: flex;
    flex-direction: column;
    
}

input{
    margin-bottom: 10px;
    border: none;
    width: 400px;
    border-radius: 5px;
    padding: 4px;
    width: 700px;
}

textarea{
    border: none;
    resize: none;
height: 100px;
 border-radius: 5px;
    padding: 4px;
}

button{
    margin-top: 6px;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 109, 20);
    color: white;
}

.imagen1:hover img{

    filter: blur(10px);
    transform: scale(1.2);
    transition: 0.3;

} 

    @media screen and (max-width: 430px) {

    .nosoytonto{

        display: none;

    }}